<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <main class="container">

        <section class="carousel">
          <button class="carousel-control prev">
            <i class="fa-solid fa-caret-left"></i>
          </button>
          <div class="carousel-images">
            <img src="images/cayote.jpg" alt="Imagen 1" />
          </div>
          <button class="carousel-control next">
            <i class="fa-solid fa-caret-right"></i>
          </button>
          <div class="carousel-dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          </div>
        </section>

        <section class="featured-products container">
          <h2><span>Productos Destacados</span></h2>
          <div class="card-grid">
            <% products.forEach( product => {%>
              <div class="card">
                <img src="images/<%=product.image%>" alt="Imagen del producto" />
                <h3>
                  <%= product.name %>
                </h3>
                <p>
                  <%= product.description %>
                </p>
                <a href="/products/<%= product.id%>" class="button">Ver m&aacute;s</a>
              </div>
              <% }) %>
          </div>
        </section>

        <%- include('./partials/follow-us') %>
      </main>
      <%- include('./partials/footer') %>
        <script src="js/burger.js"></script>
  </body>

</html>