<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <section class="container">
        <h2><span>Pagina de Perfil de <%= user.username %></span></h2>
        <!-- <img src="/images/users/<%= //user.image %>" alt=""> -->
      </section>
      <%- include('../partials/follow-us') %> <%- include('../partials/footer') %>
  </body>

</html>