<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <section class="container">
        <h2><span>INICIAR SESI&Oacute;N</span></h2>

        <div class="form-area">
          <form action="#" method="post" novalidate>
            <div class="form-group">
              <!-- <label for="email">Email</label> -->
              <label for="username">Usuario</label>
              <input type="text" name="username" id="username" value="<%= locals.oldData && oldData.username %>" autofocus />
              <% if (locals.errors && errors.username) { %>
                <p class="invalid-input">
                  <%= errors.username.msg %>
                </p>
              <% } %>
            </div>
            <div class="form-group">
              <label for="password">Contrase&ntilde;a</label>
              <input type="password" name="password" id="password" />
              <% if (locals.errors && errors.password) { %>
                <p class="invalid-input">
                  <%= errors.password.msg %>
                </p>
                <% } %>
            </div>

            <div class="form-group">
              <label for="remember_user">Recordarme</label>
              <input type="checkbox" name="remember_user" id="remember_user">
            </div>

            <p id="ya_tenes_cuenta">
              <span><a href="#">Olvidaste tu contrase&ntilde;a?</a></span>
            </p>

            <div class="form-group">
              <button>INICIAR SESI&Oacute;N</button>
              <p id="ya_tenes_cuenta">
                No tenes cuenta?<span><a href="/users/register">Crear cuenta</a></span>
              </p>
            </div>
          </form>
        </div>
      </section>
      <%- include('../partials/follow-us') %> <%- include('../partials/footer') %>
  </body>

</html>