<%- include('../partials/head') %>

    <%- include('../partials/header') %>
      <main class="container">

        <section class="featured-products container">
          <h2><span>Productos</span></h2>
          <div class="card-grid">
            <% data.forEach( producto=> {%>
              <div class="card">
                <img src="/images/<%=producto.image%>" alt="Imagen del producto" />
                <h3>
                  <%= producto.name %>
                </h3>
                <p>
                  <%= producto.description %>
                </p>
                <a href="/products/<%= producto.id%>" class="button">Ver más</a>
                <div>
                  <a href="/products/<%= producto.id%>/edit" class="button">Editar</a>
                  <a href="/products/<%= producto.id%>/delete" class="button">Borrar</a>
                </div>
              </div>
              <% }); %>

          </div>
        </section>
        <%- include('../partials/follow-us') %>
      </main>
      <%- include('../partials/footer') %>
        

</html>