<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <main>
        <%= categories %>
        <section class="container">
          <h2><span>Nuevo Producto</span></h2>
          <div class="form-area">
            <form id="productForm">
              <div class="form-group">
                <label for="productName">Nombre del producto</label>
                <input type="text" id="productName" name="name" required /><br />
              </div>
              <div class="form-group">
                <label for="productDescription">Detalles del Producto</label>
                <textarea id="productDescription" name="description" required></textarea><br />
              </div>
              <div class="form-group">
                <label for="productImage">Imagen</label>
                <input type="file" id="productImage" name="image" accept="image/*" /><br />
              </div>
              <div class="form-group">
                <label for="productCategory">Categoría</label>
                <select id="productCategory" name="category">
                  <option value="Dulces enfrascados">Dulces enfrascados</option>
                  <option value="Frutas en Almíbar enfrascados">
                    Frutas en Almíbar enfrascados
                  </option>
                  <option value="Dulces en Pan">Dulces en Pan</option>
                  <option value="Arropes">Arropes</option>
                  <option value="Aceite de Oliva">Aceite de Oliva</option>
                  <option value="Vinos">Vinos</option>
                </select><br />
              </div>
              <div class="form-group">
                <label for="productWeight">Peso:</label>
                <input type="number" id="productWeight" name="weight" required /><br />
              </div>
              <div class="form-group">
                <label for="productStock">Stock</label>
                <input type="number" id="stock" name="stock" /><br />
              </div>
              <div class="form-group">
                <label for="productPrice">Precio:</label>
                <input type="number" id="productPrice" name="price" required /><br />
                <div class="form-group">
                  <button type="button">Agregar</button>
                </div>
            </form>
          </div>
        </section>
      </main>
      <%- include('../partials/follow-us') %> <%- include('../partials/footer') %>
  </body>

</html>