<%- include('../partials/head') %>

  <%- include('../partials/header') %>
    <main class="container">

      <section class="featured-products container">
        <h2><span>Productos</span></h2>
        <div class="card-grid">
          <% products.forEach( product=> {%>
            <div class="card">
              <img src="/images/<%=product.image%>" alt="Imagen del producto" />
              <h3>
                <%= product.name %>
              </h3>
              <p>
                <%= product.description %>
              </p>
              <a href="/products/<%= product.id%>" class="button">Ver más</a>
              <div>
                <a href="/products/<%= product.id%>/edit" class="button">Editar</a>
                <a href="/products/<%= product.id%>/delete" class="button">Borrar</a>
              </div>
            </div>
            <% }); %>

        </div>
      </section>
      <%- include('../partials/follow-us') %>
    </main>
    <%- include('../partials/footer') %>


      </html>